output*/*
external_libs/gnuplot-iostream/
gnuplot-iostream/
output_hgaps/
output_ibias/
output_power
output_sdss/
main/INIT_PARS/
main/INIT_TNG/
main/INIT_PARS_UNITSIM/
main/healpy_env/
main/generate_param_files_voids_80.sh
main/*exe
